html {
    height: 100%;
}

body {
    background-color: #f1ecec;
}

.center {
    padding-top: 2em;
    width: 45% !important;
    box-shadow: 1px 1px 12px 1px #b2b2b2;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: beige !important;
}

.info-text {
    color: #a7a7a7;
    font-weight: 300;
    position: relative;
    margin-bottom: 20px;
}

.jumbotron>.container {
    width: 150px;
}

.display-4 {
    color: #a7a7a7;
    background-color: white;
}