html,
body {
    height: 100%;
}

.container {
    width: 50% !important;
    background-color: beige;
    padding-top: 2em;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron {
    text-align: center;
    background-color: transparent !important;
}

.jumbotron>.container {
    width: 150px;
}

.display-4 {
    background-color: white;
}