.container {
    background-color: beige;
    padding-top: 2em;
}

.jumbotron {
    text-align: center;
    background-color: transparent !important;
}

.jumbotron>.container {
    width: 150px;
}

.display-4 {
    background-color: white;
}